name: "General CI checks"

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  installation-test:
    name: "Test if installation works"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Install protoplaster with pip
        run: |
          pip install .
      - name: See that it can be run
        run: |
          cd /tmp/
          protoplaster --help
  test-in-renode:
    name: Test in Renode runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install packages
        if: ${{ env.ACT }}
        run: |
         sudo apt update -qq && sudo DEBIAN_FRONTEND=noninteractive apt-get -y install --no-install-recommends \
         python3-pip telnet iptables iproute2 bc cpio rsync

      - name: Run scripts in Renode
        uses: antmicro/renode-linux-runner-action@v0
        with:
          shared-dir: ./
          renode-run: |
            ./protoplaster/protoplaster -t tests/basic.yml
          devices: |
            vivid
            gpio 0 32
            i2c 0x1C
          python-packages: git+https://github.com/antmicro/protoplaster.git
